# Assignment 2

#### First Name: Maximilian
#### Last Name: von Klinski

## 1. Load Data from JSON

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Twitter App") \
    .getOrCreate()

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
# Make sure to upload the corona_tweet_new.json file
df_twitter = spark.read.json("/content/drive/My Drive/_Universität_HPI/Semester 6/BigData/Assignments/assisgnment_2/corona_tweet_new.json")

In [ ]:
df_twitter.printSchema()

root
 |-- created_at: string (nullable = true)
 |-- favorite_count: long (nullable = true)
 |-- hashtags: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- id: string (nullable = true)
 |-- in_reply_to_status_id: string (nullable = true)
 |-- in_reply_to_user_id_str: string (nullable = true)
 |-- location: string (nullable = true)
 |-- reply_count: long (nullable = true)
 |-- retweet_count: long (nullable = true)
 |-- source: string (nullable = true)
 |-- user: struct (nullable = true)
 |    |-- contributors_enabled: boolean (nullable = true)
 |    |-- created_at: string (nullable = true)
 |    |-- default_profile: boolean (nullable = true)
 |    |-- default_profile_image: boolean (nullable = true)
 |    |-- description: string (nullable = true)
 |    |-- favourites_count: long (nullable = true)
 |    |-- follow_request_sent: string (nullable = true)
 |    |-- followers_count: long (nullable = true)
 |    |-- following: string (nullable = true)
 |    |-- friends_count: long (nullable = true)
 |    |-- geo_enabled: boolean (nullable = true)
 |    |-- id: long (nullable = true)
 |    |-- id_str: string (nullable = true)
 |    |-- is_translator: boolean (nullable = true)
 |    |-- lang: string (nullable = true)
 |    |-- listed_count: long (nullable = true)
 |    |-- location: string (nullable = true)
 |    |-- name: string (nullable = true)
 |    |-- notifications: string (nullable = true)
 |    |-- profile_background_color: string (nullable = true)
 |    |-- profile_background_image_url: string (nullable = true)
 |    |-- profile_background_image_url_https: string (nullable = true)
 |    |-- profile_background_tile: boolean (nullable = true)
 |    |-- profile_banner_url: string (nullable = true)
 |    |-- profile_image_url: string (nullable = true)
 |    |-- profile_image_url_https: string (nullable = true)
 |    |-- profile_link_color: string (nullable = true)
 |    |-- profile_sidebar_border_color: string (nullable = true)
 |    |-- profile_sidebar_fill_color: string (nullable = true)
 |    |-- profile_text_color: string (nullable = true)
 |    |-- profile_use_background_image: boolean (nullable = true)
 |    |-- protected: boolean (nullable = true)
 |    |-- screen_name: string (nullable = true)
 |    |-- statuses_count: long (nullable = true)
 |    |-- time_zone: string (nullable = true)
 |    |-- translator_type: string (nullable = true)
 |    |-- url: string (nullable = true)
 |    |-- utc_offset: string (nullable = true)
 |    |-- verified: boolean (nullable = true)

In [ ]:
### From the user nestec col select the following cols only id_str,followers_count,friends_count and created at
# (2 points)
from pyspark.sql.functions import col

# Here we used the selct function, friendscount is included in the task but not included in the example, for safety, I still included it and also location is not included in the example but we will later need it, so it is also included here
df_twitter=df_twitter.select(col("created_at"),
                             col("favorite_count"),
                             col("hashtags"),
                             col("id"),
                             col("in_reply_to_status_id"),
                             col("in_reply_to_user_id_str"),
                             col("location"),
                             col("reply_count"),
                             col("retweet_count"),
                             col("source"),
                             col("user.id_str").alias("user_id_str"),
                             col("user.followers_count").alias("user_followers_count"),
                             col("user.friends_count").alias("user_friends_count"),
                             col("user.created_at").alias("user_created_at")
                            )

In [ ]:
df_twitter.printSchema()

root
 |-- created_at: string (nullable = true)
 |-- favorite_count: long (nullable = true)
 |-- hashtags: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- id: string (nullable = true)
 |-- in_reply_to_status_id: string (nullable = true)
 |-- in_reply_to_user_id_str: string (nullable = true)
 |-- location: string (nullable = true)
 |-- reply_count: long (nullable = true)
 |-- retweet_count: long (nullable = true)
 |-- source: string (nullable = true)
 |-- user_id_str: string (nullable = true)
 |-- user_followers_count: long (nullable = true)
 |-- user_friends_count: long (nullable = true)
 |-- user_created_at: string (nullable = true)

In [ ]:
# Print the total count of number of records in df_twitter(1 point)
df_twitter.count()

15894

In [ ]:
# Extract the source lable from source col by droping the anchor tab and save it as another col named extracted_source
# for example <a href="https://mobile.twitter.com" rel="nofollow">Twitter Web App</a> => Twitter Web App
# you can use "<a [^>]+>([^<]+)" as regualr expresion and the group would be 1 for this regular expression.
#(4 points)
from pyspark.sql.functions import regexp_extract, col

df_twitter=df_twitter.withColumn("extracted_source", regexp_extract(col("source"), '<a [^>]+>([^<]+)', 1))
df_twitter.select(col('extracted_source'),col('source')).show()

+-------------------+--------------------+
|   extracted_source|              source|
+-------------------+--------------------+
|    Twitter Web App|<a href="https://...|
|Twitter for Android|<a href="http://t...|
|Twitter for Android|<a href="http://t...|
|Twitter for Android|<a href="http://t...|
|Twitter for Android|<a href="http://t...|
|    Twitter Web App|<a href="https://...|
| Twitter Web Client|<a href="http://t...|
|Twitter for Android|<a href="http://t...|
|Twitter for Android|<a href="http://t...|
| Twitter for iPhone|<a href="http://t...|
| Twitter for iPhone|<a href="http://t...|
|    Twitter Web App|<a href="https://...|
|Twitter for Android|<a href="http://t...|
|    Twitter Web App|<a href="https://...|
| Twitter for iPhone|<a href="http://t...|
|Twitter for Android|<a href="http://t...|
| Twitter for iPhone|<a href="http://t...|
|Twitter for Android|<a href="http://t...|
| Twitter for iPhone|<a href="http://t...|
|Twitter for Android|<a href="http://t...|
+-------------------+--------------------+
only showing top 20 rows

In [ ]:
# Convert the DataFrame into RDD
rdd_twitter=df_twitter.rdd.map(tuple)

In [ ]:
# Create a temporay table in memory with name as twitter (1 point)

df_twitter.createTempView("twitter")

## 2. Analyze Data

#### You will be writing code to find the answer to the questions listed below using Just RDD, Using spark SQL

- Analyze using RDD
- Analyze using Dataframe without temp table
- Analyze using spark.sql with temp table

#### 2.1 Get total number of unique users (1 point for each type)

In [ ]:
# Using RDD

num_unique_users_rdd = rdd_twitter.map(lambda tweet: (tweet[10], 1)).reduceByKey(lambda a, b: a + b).count()
print('The total number of unique users(RDD):',num_unique_users_rdd)

The total number of unique users(RDD): 14094

In [ ]:
# Using DataFrame
num_unique_users_df = df_twitter.select("user_id_str").distinct().count()
print('The total number of unique users(df):',num_unique_users_df)

The total number of unique users(df): 14094

In [ ]:
# Using spark.sql and the temporay table.
spark.sql('SELECT COUNT(DISTINCT user_id_str) AS Total_Number_of_unique_users_sparkSQL FROM twitter').show()

+-------------------------------------+
|Total_Number_of_unique_users_sparkSQL|
+-------------------------------------+
|                                14094|
+-------------------------------------+

#### 2.2 Get count of user who have more than 1 tweet in the data (2 points)

In [ ]:
# Using RDD
num_users_with_more_than_one_rdd = rdd_twitter.map(lambda tweet: (tweet[10], 1)).reduceByKey(lambda a, b: a + b).filter(lambda user: user[1] > 1).count()
print('Number of users with more than 1 tweet(RDD):',num_users_with_more_than_one_rdd)

Number of users with more than 1 tweet(RDD): 1016

In [ ]:
# Using DataFrame
num_users_with_more_than_one_df = df_twitter.groupby("user_id_str").count().filter("count > 1").count()
print('Number of users with more than 1 tweet(df):',num_users_with_more_than_one_df)

Number of users with more than 1 tweet(df): 1016

In [ ]:
# Using spark.sql and the temporay table.
spark.sql('SELECT COUNT(*) as number_of_users_with_more_than_one_tweet_sparkSQL FROM (SELECT COUNT(user_id_str) AS tweet_count FROM TWITTER GROUP BY user_id_str) WHERE tweet_count > 1').show()

+-------------------------------------------------+
|number_of_users_with_more_than_one_tweet_sparkSQL|
+-------------------------------------------------+
|                                             1016|
+-------------------------------------------------+

#### 2.3 Get total number unique extracted_source (1 point each)

In [ ]:
# Using RDD
num_unique_extracted_rdd = rdd_twitter.map(lambda tweet: (tweet[14], 1)).reduceByKey(lambda a, b: a + b).count()
print('Total number of unique extracted_sources(rdd):', num_unique_extracted_rdd)

Total number of unique extracted_sources(rdd): 133

In [ ]:
# Using DataFrame
num_unique_extracted_df =  df_twitter.select("extracted_source").distinct().count()
print('Total number of unique extracted_sources(df):', num_unique_extracted_df)

Total number of unique extracted_sources(df): 133

In [ ]:
# Using spark.sql and the temporay table.
spark.sql('SELECT COUNT(DISTINCT extracted_source) AS number_of_unique_extracted_sources_sparkSQL  FROM twitter').show()

+-------------------------------------------+
|number_of_unique_extracted_sources_sparkSQL|
+-------------------------------------------+
|                                        133|
+-------------------------------------------+

#### 2.4 Get top 5 most used extracted_source

In [ ]:
# Using RDD (5 points)
top_extracted_sources_rdd = rdd_twitter.map(lambda tweet: (tweet[14], 1)).reduceByKey(lambda a, b: a + b).takeOrdered(5, lambda s: -1 * s[1])
top_extracted_sources_rdd

[('Twitter for Android', 6262),
 ('Twitter for iPhone', 5698),
 ('Twitter Web App', 2878),
 ('Twitter for iPad', 428),
 ('Twitter Web Client', 136)]

In [ ]:
# Using DataFrame (2 points)
df_twitter.groupby("extracted_source").count().sort("count", ascending = False).show(5)

+-------------------+-----+
|   extracted_source|count|
+-------------------+-----+
|Twitter for Android| 6262|
| Twitter for iPhone| 5698|
|    Twitter Web App| 2878|
|   Twitter for iPad|  428|
| Twitter Web Client|  136|
+-------------------+-----+
only showing top 5 rows

In [ ]:
# Using spark.sql and the temporay table. (2 points)
spark.sql('SELECT extracted_source, COUNT(extracted_source) as count FROM twitter GROUP BY extracted_source ORDER BY count DESC LIMIT 5').show()

+-------------------+-----+
|   extracted_source|count|
+-------------------+-----+
|Twitter for Android| 6262|
| Twitter for iPhone| 5698|
|    Twitter Web App| 2878|
|   Twitter for iPad|  428|
| Twitter Web Client|  136|
+-------------------+-----+

#### 2.5 Get count of distinct hastags used ( 5 point each)

In [ ]:
# Using RDD
num_of_distinct_hastags_rdd = rdd_twitter.flatMap(lambda tweet: tweet[2]).distinct().count()
print('Number of distinct hashtags(rdd):', num_of_distinct_hastags_rdd)

Number of distinct hashtags(rdd): 1215

In [ ]:
from pyspark.sql.functions import explode

# Using DataFrame
num_of_distinct_hastags_df = df_twitter.select(explode(col('hashtags'))).distinct().count()
print('Number of distinct hashtags(df):', num_of_distinct_hastags_df)

Number of distinct hashtags(df): 1215

In [ ]:
# Using spark.sql and the temporay table.
spark.sql('SELECT COUNT(*) AS number_of_distinct_hashtags_sparkSQL FROM (SELECT DISTINCT EXPLODE(hashtags) FROM twitter)').show()

+------------------------------------+
|number_of_distinct_hashtags_sparkSQL|
+------------------------------------+
|                                1215|
+------------------------------------+

#### 2.6 Get top 5 hashtags

In [ ]:
# Using RDD (4 points)
top_5_hashtags_rdd = rdd_twitter.flatMap(lambda tweet: tweet[2]).map(lambda hashtags: (hashtags, 1)).reduceByKey(lambda a, b: a + b).takeOrdered(5, lambda s: -1 * s[1])
for  hashtag, count in top_5_hashtags_rdd:
  print(hashtag, ' count: ', count)

طبق_القدرات_للثانويه_ياريس  count:  385
Corona  count:  319
OilPrice  count:  251
COVID19  count:  125
corona  count:  123

In [75]:
# Using DataFrame (2 points)
top_5_hashtags_df = df_twitter.select(explode(col('hashtags'))).groupby("col").count().sort("count", ascending = False).show(5)

+--------------------+-----+
|                 col|count|
+--------------------+-----+
|طبق_القدرات_للثان...|  385|
|              Corona|  319|
|            OilPrice|  251|
|             COVID19|  125|
|              corona|  123|
+--------------------+-----+
only showing top 5 rows

In [74]:
# Using spark.sql and the temporay table. (2 points)
spark.sql('SELECT hashtag, COUNT(hashtag) as count FROM (SELECT EXPLODE(hashtags) as hashtag FROM twitter) GROUP BY hashtag ORDER BY count DESC LIMIT 5').show()

+--------------------+-----+
|             hashtag|count|
+--------------------+-----+
|طبق_القدرات_للثان...|  385|
|              Corona|  319|
|            OilPrice|  251|
|             COVID19|  125|
|              corona|  123|
+--------------------+-----+

#### 2.6 Get total number of tweets which are retweeted more than 100 times

In [76]:
# Using RDD
num_more_than_hundred_rdd = rdd_twitter.filter(lambda tweet: tweet[8] > 100).count()
print('Number of tweets retweeted more than 100 times(rdd):', num_more_than_hundred_rdd)

Number of tweets retweeted more than 100 times(rdd): 15753

In [77]:
# Using DataFrame
num_more_than_hundred_df = df_twitter.filter("retweet_count > 100").count()
print('Number of tweets retweeted more than 100 times(df):', num_more_than_hundred_df)

Number of tweets retweeted more than 100 times(df): 15753

In [80]:
# Using spark.sql and the temporay table.
spark.sql('SELECT COUNT(id) AS number_of_tweets_with_more_than_100_retweets_sparkSQL FROM twitter WHERE retweet_count > 100').show()

+-----------------------------------------------------+
|number_of_tweets_with_more_than_100_retweets_sparkSQL|
+-----------------------------------------------------+
|                                                15753|
+-----------------------------------------------------+

#### 2.8 Get top 3 most retweeted tweets per country (8 points)

In [109]:
import numpy as np
# Using RDD

top_3_retweeted_tweets_rdd = rdd_twitter.map(lambda tweet: (tweet[6],[tweet[3],tweet[8]])).groupByKey().mapValues(lambda x: np.sort(list(x),axis=0)[-3:]).collect()
top_3_retweeted_tweets_rdd

[('India',
  array([['1252336674580791297', '9973'],
         ['1252336682713649152', '9976'],
         ['1252336686362738689', '9988']], dtype='<U21')),
 ('USA',
  array([['1252336697825689601', '9982'],
         ['1252336698274562053', '9987'],
         ['1252336700170424322', '9994']], dtype='<U21')),
 ('China',
  array([['1252336667735863296', '999'],
         ['1252336671917510660', '9993'],
         ['1252336676778545152', '9998']], dtype='<U21')),
 ('Pakistan',
  array([['1252336687037837312', '9973'],
         ['1252336695778762752', '9975'],
         ['1252336698320658436', '9988']], dtype='<U21')),
 ('Mexico',
  array([['1252336683644747776', '9971'],
         ['1252336690284204032', '9994'],
         ['1252336699230892040', '9998']], dtype='<U21')),
 ('UK',
  array([['1252336669778272256', '9985'],
         ['1252336677395197953', '9989'],
         ['1252336683753730057', '9991']], dtype='<U21')),
 ('Spain',
  array([['1252336686773800963', '9969'],
         ['1252336699121664000', '9981'],
         ['1252336700627521537', '9992']], dtype='<U21')),
 ('Canada',
  array([['1252336697469272066', '9987'],
         ['1252336698245222400', '9992'],
         ['1252336701294469120', '9997']], dtype='<U21')),
 ('Germany',
  array([['1252336672403947521', '9990'],
         ['1252336672512962561', '9997'],
         ['1252336686769434631', '9999']], dtype='<U21')),
 ('Chile',
  array([['1252336662773932032', '9978'],
         ['1252336667010236416', '9984'],
         ['1252336672265564160', '9988']], dtype='<U21')),
 ('Italy',
  array([['1252336679295373315', '9971'],
         ['1252336682302488581', '9984'],
         ['1252336687113355269', '9994']], dtype='<U21'))]

In [100]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

# Using DataFrame
window_spec_df = Window.partitionBy("location").orderBy(col("retweet_count").desc())
df_with_row_number_df = df_twitter.withColumn("local_rank", row_number().over(window_spec_df))
top_retweeted_tweets_df = df_with_row_number_df.filter(col("local_rank") <= 3)

top_retweeted_tweets_df.select('location','id','retweet_count', 'local_rank').show(n=33)

+--------+-------------------+----------+-------------+
|location|                 id|local_rank|retweet_count|
+--------+-------------------+----------+-------------+
|  Canada|1252335430323888128|         1|         9997|
|  Canada|1252254877939531776|         2|         9992|
|  Canada|1252252082825986051|         3|         9987|
|   Chile|1252253612140490759|         1|         9988|
|   Chile|1252334891951427585|         2|         9984|
|   Chile|1252253710182481920|         3|         9978|
|   China|1252335780707684352|         1|         9998|
|   China|1252253596516843520|         2|         9993|
|   China|1252255562525560832|         3|         9984|
| Germany|1252334028092399622|         1|         9999|
| Germany|1252330902325248000|         2|         9997|
| Germany|1252252295510855682|         3|         9990|
|   India|1252332114948874240|         1|         9988|
|   India|1252252336921206787|         2|         9976|
|   India|1252254519116746754|         3|         9973|
|   Italy|1252252106750377996|         1|         9994|
|   Italy|1252251206027816960|         2|         9984|
|   Italy|1252330500670337024|         3|         9971|
|  Mexico|1252253843145912320|         1|         9998|
|  Mexico|1252255209776189442|         2|         9994|
|  Mexico|1252252016006422533|         3|         9971|
|Pakistan|1252334264248606720|         1|         9988|
|Pakistan|1252251912084357121|         2|         9975|
|Pakistan|1252252126694309888|         3|         9973|
|   Spain|1252335445876367361|         1|         9992|
|   Spain|1252334839094599681|         2|         9981|
|   Spain|1252254696112300032|         3|         9969|
|      UK|1252333018578145280|         1|         9991|
|      UK|1252252091822870529|         2|         9989|
|      UK|1252254043973603329|         3|         9985|
|     USA|1252331777806524416|         1|         9994|
|     USA|1252254239805579264|         2|         9987|
|     USA|1252335464750735362|         3|         9982|
+--------+-------------------+----------+-------------+

In [105]:
# Using spark.sql and the temporay table.
spark.sql('''SELECT location, id, retweet_count, rank AS local_rank FROM (SELECT *, RANK() OVER (PARTITION BY location ORDER BY retweet_count DESC) as rank FROM TWITTER) WHERE rank < 4 ORDER BY location, rank ASC''').show(n=33)

+--------+-------------------+-------------+----------+
|location|                 id|retweet_count|local_rank|
+--------+-------------------+-------------+----------+
|  Canada|1252335430323888128|         9997|         1|
|  Canada|1252254877939531776|         9992|         2|
|  Canada|1252252082825986051|         9987|         3|
|   Chile|1252253612140490759|         9988|         1|
|   Chile|1252334891951427585|         9984|         2|
|   Chile|1252253710182481920|         9978|         3|
|   China|1252335780707684352|         9998|         1|
|   China|1252253596516843520|         9993|         2|
|   China|1252255562525560832|         9984|         3|
| Germany|1252334028092399622|         9999|         1|
| Germany|1252330902325248000|         9997|         2|
| Germany|1252252295510855682|         9990|         3|
|   India|1252332114948874240|         9988|         1|
|   India|1252252336921206787|         9976|         2|
|   India|1252254519116746754|         9973|         3|
|   Italy|1252252106750377996|         9994|         1|
|   Italy|1252251206027816960|         9984|         2|
|   Italy|1252330500670337024|         9971|         3|
|  Mexico|1252253843145912320|         9998|         1|
|  Mexico|1252255209776189442|         9994|         2|
|  Mexico|1252252016006422533|         9971|         3|
|Pakistan|1252334264248606720|         9988|         1|
|Pakistan|1252251912084357121|         9975|         2|
|Pakistan|1252252126694309888|         9973|         3|
|   Spain|1252335445876367361|         9992|         1|
|   Spain|1252334839094599681|         9981|         2|
|   Spain|1252254696112300032|         9969|         3|
|      UK|1252333018578145280|         9991|         1|
|      UK|1252252091822870529|         9989|         2|
|      UK|1252254043973603329|         9985|         3|
|     USA|1252331777806524416|         9994|         1|
|     USA|1252254239805579264|         9987|         2|
|     USA|1252335464750735362|         9982|         3|
+--------+-------------------+-------------+----------+

#### 2.9 Total number of tweets per country

In [114]:
# Using RDD (3 points)
country_number_dict_rdd = rdd_twitter.map(lambda tweet: tweet[6]).countByValue()

print('Number of tweets per country')
print('location : count')
for a in country_number_dict_rdd:
  print(a,':', country_number_dict_rdd[a])

Number of tweets per country
location : count
India : 1480
UK : 1376
Spain : 1464
USA : 1539
Canada : 1441
China : 1457
Pakistan : 1470
Germany : 1426
Mexico : 1409
Chile : 1410
Italy : 1422

In [115]:
# Using DataFrame (2 points)
df_twitter.groupBy("location").count().show()

+--------+-----+
|location|count|
+--------+-----+
| Germany| 1426|
|   India| 1480|
|   China| 1457|
|   Chile| 1410|
|   Italy| 1422|
|   Spain| 1464|
|     USA| 1539|
|  Mexico| 1409|
|      UK| 1376|
|  Canada| 1441|
|Pakistan| 1470|
+--------+-----+

In [113]:
# Using spark.sql and the temporay table. (1 point)
spark.sql('SELECT location, COUNT(id) as count FROM twitter GROUP BY location').show()

+--------+-----+
|location|count|
+--------+-----+
| Germany| 1426|
|   India| 1480|
|   China| 1457|
|   Chile| 1410|
|   Italy| 1422|
|   Spain| 1464|
|     USA| 1539|
|  Mexico| 1409|
|      UK| 1376|
|  Canada| 1441|
|Pakistan| 1470|
+--------+-----+

## 3. Save Data

#### 3.1 save the data such that you have seperate folder per country (2 points)

In [139]:
# Using DataFrame
# For this the hashtags column first has to be casted to string, since arrays are not supported by csv
df_twitter.withColumn("hashtags", col("hashtags").cast("string")).write.partitionBy('location').csv("/content/drive/My Drive/_Universität_HPI/Semester 6/BigData/Assignments/assisgnment_2/saved_data_2",header = 'true')

In [ ]:
test_df = spark.read.csv("/content/drive/My Drive/_Universität_HPI/Semester 6/BigData/Assignments/assisgnment_2/saved_data_2/location=Germany/part-00000-25372ed3-9aeb-41f2-b7ef-5b7f4086de05.c000.csv",header='True')
test_df.show()

#### 3.2 Save the data as parquet files (1 points)

In [131]:
# Using DataFrame
df_twitter.write.partitionBy('location').parquet("/content/drive/My Drive/_Universität_HPI/Semester 6/BigData/Assignments/assisgnment_2/location.parquet")

In [138]:
# Confirming that the saving worked of the parquet files worked
test_parquetFile = spark.read.parquet("/content/drive/My Drive/_Universität_HPI/Semester 6/BigData/Assignments/assisgnment_2/location.parquet")
test_parquetFile.show()

+--------------------+--------------+--------------------+-------------------+---------------------+-----------------------+-----------+-------------+--------------------+-------------------+--------------------+------------------+--------------------+-------------------+--------+
|          created_at|favorite_count|            hashtags|                 id|in_reply_to_status_id|in_reply_to_user_id_str|reply_count|retweet_count|              source|        user_id_str|user_followers_count|user_friends_count|     user_created_at|   extracted_source|location|
+--------------------+--------------+--------------------+-------------------+---------------------+-----------------------+-----------+-------------+--------------------+-------------------+--------------------+------------------+--------------------+-------------------+--------+
|Mon Apr 20 15:01:...|          5209|                  []|1252251170057457665|                 NULL|                   NULL|       6258|         7927|<a href="https://...|         1297207694|                9069|              9109|Mon Mar 25 01:08:...|    Twitter Web App|     USA|
|Mon Apr 20 15:02:...|          2159|                  []|1252251177250668544|  1252251173140258819|    1246109551297994753|       2946|         2746|<a href="https://...|1246109551297994753|                 373|              1664|Fri Apr 03 16:18:...|    Twitter Web App|     USA|
|Mon Apr 20 15:02:...|          7982|            [Corona]|1252251180627038209|                 NULL|                   NULL|        947|         1579|<a href="http://t...|          123283411|                  49|               114|Mon Mar 15 15:55:...|Twitter for Android|     USA|
|Mon Apr 20 15:02:...|          9733|                  []|1252251181814108161|                 NULL|                   NULL|       8461|         4521|<a href="http://t...|1176478702772850689|                  64|                77|Tue Sep 24 12:49:...| Twitter for iPhone|     USA|
|Mon Apr 20 15:02:...|          6059|                  []|1252251182426476548|                 NULL|                   NULL|       3180|         5003|<a href="http://t...|1175615769176170496|                 562|               804|Sun Sep 22 03:40:...|Twitter for Android|     USA|
|Mon Apr 20 15:02:...|          5372|         [COVIDー19]|1252251184385179648|                 NULL|                   NULL|       5910|         5155|<a href="https://...|         1432406870|               16482|                49|Thu May 16 07:36:...|          TweetDeck|     USA|
|Mon Apr 20 15:02:...|          8225|[Coronavirus, COV...|1252251194849976320|                 NULL|                   NULL|       7901|         9049|<a href="http://t...| 845916368960602112|                  41|                90|Sun Mar 26 08:32:...|Twitter for Android|     USA|
|Mon Apr 20 15:02:...|          5238|                  []|1252251196628373505|                 NULL|                   NULL|        159|         4333|<a href="http://t...|           64797438|                1870|              1301|Tue Aug 11 19:27:...| Twitter for iPhone|     USA|
|Mon Apr 20 15:02:...|          6584|                  []|1252251200084414466|                 NULL|                   NULL|       2897|         8886|<a href="https://...|         3699496906|               21503|             23042|Fri Sep 18 19:16:...|    Twitter Web App|     USA|
|Mon Apr 20 15:02:...|          8579|                  []|1252251204047888390|                 NULL|                   NULL|       7980|         6108|<a href="https://...|          106584640|                 557|               672|Wed Jan 20 01:21:...|          TweetDeck|     USA|
|Mon Apr 20 15:02:...|          6679|                  []|1252251217239171074|                 NULL|                   NULL|       7184|         3336|<a href="http://t...|1252166317899231234|                  54|               408|Mon Apr 20 09:25:...|Twitter for Android|     USA|
|Mon Apr 20 15:02:...|          2626|[NUFCTakeover, NUFC]|1252251217075585024|                 NULL|                   NULL|       7515|         7569|<a href="http://t...|          262667747|                1439|              2557|Tue Mar 08 14:22:...|Twitter for Android|     USA|
|Mon Apr 20 15:02:...|          2040|                  []|1252251217952215044|                 NULL|                   NULL|       5881|         9399|<a href="http://t...|          279717243|                 809|              1135|Sat Apr 09 21:34:...|Twitter for Android|     USA|
|Mon Apr 20 15:02:...|          7668|                  []|1252251221286502405|                 NULL|                   NULL|       1910|         6904|<a href="https://...|           14057781|                4174|              4120|Thu Feb 28 22:55:...|          TweetDeck|     USA|
|Mon Apr 20 15:02:...|          4392|                  []|1252251224512102407|                 NULL|                   NULL|       2026|         3940|<a href="http://t...| 984047261557587968|                 125|              1030|Wed Apr 11 12:35:...| Twitter for iPhone|     USA|
|Mon Apr 20 15:02:...|          9840|                  []|1252251241801027586|                 NULL|                   NULL|       6238|         8917|<a href="http://t...|         1602168482|                2966|              2010|Thu Jul 18 00:32:...| Twitter for iPhone|     USA|
|Mon Apr 20 15:02:...|          9929|                  []|1252251245298896899|                 NULL|                   NULL|        845|         5820|<a href="https://...|           89085290|                4055|              4977|Wed Nov 11 02:24:...|    Twitter Web App|     USA|
|Mon Apr 20 15:02:...|           414|                  []|1252251250130931712|                 NULL|                   NULL|       8938|         6242|<a href="http://t...|1046769171047084037|                 148|               133|Mon Oct 01 14:29:...| Twitter for iPhone|     USA|
|Mon Apr 20 15:02:...|          5033|                  []|1252251268208381953|                 NULL|                   NULL|       5080|         7548|<a href="http://t...| 827625660164272128|                  80|               231|Fri Feb 03 21:11:...| Twitter for iPhone|     USA|
|Mon Apr 20 15:02:...|          7814|                  []|1252251270275977216|                 NULL|                   NULL|       5719|         9534|<a href="http://t...|         1076145517|                   7|                83|Thu Jan 10 09:27:...| Twitter for iPhone|     USA|
+--------------------+--------------+--------------------+-------------------+---------------------+-----------------------+-----------+-------------+--------------------+-------------------+--------------------+------------------+--------------------+-------------------+--------+
only showing top 20 rows